{% extends 'base.html' %} {% block content %}

<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-header bg-warning">
            <div class="d-flex justify-content-between">
                <h3>Edit Supplier</h3>

                <a href="{% url 'suppliers' %}" class="btn btn-dark"> Back </a>
            </div>
        </div>

        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <!-- PRODUCT -->

                <div class="mb-3">
                    <select name="product"
        class="form-select"
        required>

    {% for product in products %}

    <option value="{{ product.id }}"
        {% if supplier.product.id == product.id %}selected{% endif %}>

        {{ product.name }}

    </option>

    {% endfor %}

</select>
                </div>

                <!-- SUPPLIER NAME -->

                <div class="mb-3">
                    <label class="form-label"> Supplier Name </label>

                    <input type="text" name="supplier_name" value="{{ supplier.supplier_name }}" class="form-control"
                        required />
                </div>

                <!-- QUANTITY -->

                <div class="mb-3">
                    <label class="form-label"> Quantity </label>

                    <input type="number" name="quantity" value="{{ supplier.quantity }}" class="form-control"
                        required />
                </div>

                <!-- COST PRICE -->

                <div class="mb-3">
                    <label class="form-label"> Cost Price </label>

                    <input type="number" step="0.01" name="cost_price" value="{{ supplier.cost_price }}"
                        class="form-control" required />
                </div>

                <!-- DATE -->

                <div class="mb-3">
                    <label class="form-label"> Date </label>

                    <input type="date" name="date" value="{{ supplier.date|date:'Y-m-d' }}" class="form-control"
                        required />
                </div>

                <!-- PAYMENT -->

                <div class="mb-3">
                    <label class="form-label"> Method Of Payment </label>

                    <select name="method_of_payment" class="form-select">
                        <option value="Cash">Cash</option>

                        <option value="Mobile Money">Mobile Money</option>

                        <option value="Bank">Bank</option>
                    </select>
                </div>

                <!-- AMOUNT PAID -->

                <div class="mb-3">
                    <label class="form-label"> Amount Paid </label>

                    <input type="number" step="0.01" name="amount_paid" value="{{ supplier.amount_paid }}"
                        class="form-control" required />
                </div>

                <button type="submit" class="btn btn-warning w-100">
                    Update Supplier
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}