{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-dark text-white">
      <h3>Payment Receipt</h3>
    </div>

    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-6">
          <h5>Customer Information</h5>

          <p>
            <strong>Name:</strong>

            {{ payment.credit_purchase.customer.full_name }}
          </p>

          <p>
            <strong>Phone:</strong>

            {{ payment.credit_purchase.customer.phone }}
          </p>

          <p>
            <strong>NIN:</strong>

            {{ payment.credit_purchase.customer.nin }}
          </p>
        </div>

        <div class="col-md-6 text-md-end">
          <h5>Receipt Details</h5>

          <p>
            <strong>Receipt ID:</strong>

            #{{ payment.id }}
          </p>

          <p>
            <strong>Date:</strong>

            {{ payment.payment_date }}
          </p>
        </div>
      </div>

      <hr />

      <h5 class="mb-3">Payment Information</h5>

      <table class="table table-bordered">
        <tr>
          <th>Product</th>

          <td>{{ payment.credit_purchase.product.name }}</td>
        </tr>

        <tr>
          <th>Total Credit Amount</th>

          <td>UGX {{ payment.credit_purchase.total_amount }}</td>
        </tr>

        <tr>
          <th>Amount Paid Now</th>

          <td>UGX {{ payment.amount_paid }}</td>
        </tr>

        <tr>
          <th>Remaining Balance</th>

          <td>UGX {{ payment.balance_after_payment }}</td>
        </tr>

        <tr>
          <th>Payment Status</th>

          <td>{{ payment.credit_purchase.payment_status }}</td>
        </tr>
      </table>

      <div class="mt-4">
        <button onclick="window.print()" class="btn btn-dark">
          Print Receipt
        </button>

        <a href="{% url 'payments' %}" class="btn btn-secondary"> Back </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
